body {
    background-color: var(--color-blue);
}

header {
    text-align: center;
    color:var(--color-yellow);
    background-color: var(--color-orange);
}

.content {
    display : flex;
    flex-wrap:wrap;
    gap: 40px;
    align-items: flex-start;
    justify-content: left;
    padding: 20px;
}

.liste-score {
    display: grid;
    gap: 8px;
    cursor: pointer;
    user-select: none;
}

.liste-score li {
    border: 2px solid var(--color-rose);
    padding: 10px;
    width: 40px;
    text-align: center;
    border-radius: 6px;
    background-color: var(--color-orange);
    font-weight: bold;
    list-style: none;
}

#camera {
    width: auto;
    max-width: 60em;
    height: auto;
    border: 2px solid var(--color-rose);
    border-radius: 8px;
    background-color: var(--color-rose);

    transform: scaleX(-1); /* Inverse la vidéo */
}
