html,
body {
    background-color: var(--color-blue);
    overflow: hidden;
}

header {
    text-align: center;
    color:var(--color-yellow);
    background-color: var(--color-orange);
}

.content {
    display : flex;
    flex-wrap:wrap;
    gap: 40px;
    align-items: flex-start;
    justify-content: left;
    padding: 20px;
}

.liste-score {
    display: grid;
    gap: 8px;
    cursor: pointer;
    user-select: none;
}

.liste-score li {
    border: 2px solid var(--color-rose);
    padding: 10px;
    width: 40px;
    text-align: center;
    border-radius: 6px;
    background-color: var(--color-orange);
    font-weight: bold;
    list-style: none;
}

#encouragement {
    margin: 10px 0 6px;
    min-height: 1.2em;
    color: rgb(26, 117, 26);
    font-weight: bold;
    font-size: 2em;
    position: absolute;
    z-index: 1;
    padding-left:18%;
    text-align: center;

}

.encouragement-pop {
    animation: encouragement-pop 400ms ease-out;
}

@keyframes encouragement-pop {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

#camera {
    width: auto;
    max-width: 45em;
    height: auto;
    border: 2px solid var(--color-rose);
    border-radius: 8px;
    background-color: var(--color-rose);    
    transform: scaleX(-1); /* Inverse la vidéo */
}

#image img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 8px;
    display: block;
}

#move-counter {
    margin: 6px 0 0;
    font-weight: bold;
    font-size: 1.1em;
    color: var(--color-yellow);
}

#final-score {
    margin: 0 0 0;
    font-weight: bold;
    font-size: 2em;
    color: rgb(26, 117, 26);
    width: 100%;
    text-align: center;
}

.camera-wrap {
  position: relative;
  display: inline-block; /* ou block, selon ton layout */
}

#camera {
  display: block;
}

#camera-overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;   /* ou contain selon l’effet voulu */
  display: none;       /* caché tant qu’on n’a pas capturé */
}

#fin{
    display: block;
    margin: 0px auto 0;
    width: 100%;
    max-width: 150px;
    height: 3em;
    border-radius: 25px;
    background-color: var(--color-rose);
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: solid 3px black;
    cursor: pointer;
    font-size: 0.8rem;
    text-decoration: none;
}
#btn-capture{
    display: block;
    margin: 0px auto 0;
    margin-bottom: 10px;
    width: 100%;
    max-width: 150px;
    height: 3em;
    border-radius: 25px;
    background-color: var(--color-yellow);
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: solid 3px black;
    cursor: pointer;
    font-size: 0.8rem;
    text-decoration: none;
}

a{
    text-decoration: none;
}