:root {
    --color-blue: #77BEF0;
    --color-yellow:#FFCB61;
    --color-orange:#FF894F;
    --color-rose:#EA5B6F;
}

body{
    background-color: var(--color-blue);
}


#houseicon{
    position: absolute;
    left: 20px;
    font-size: 48px;
    cursor: pointer;
}

#programmes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.pgm{
    
    display: flex;
    justify-content: center;
}

#warning{
    justify-content: center;
    text-align: center;
    color: var(--color-yellow);
}