<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href = "/css/main.css">
    <link rel="stylesheet" href = "program.css">
</head>
<body>
<header>
    <h1>Programme : bubbles</h1>
</header>
<main>
    <video id="maCamera" autoplay playsinline></video>
    <div id = "Infos" >
        <h2 class="titre-score">Score : <span id="valeurScore">0</span></h2>
        <ul class = "liste-points">
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
        </ul>
        <h2>Timer : <span id="valeurTimer">30</span>s</h2>
    </div>
</main>
<script src="/scripts/camera.js"></script>
<script src="/scripts/score.js"></script>
<script src="/scripts/timer.js"></script>
</body>
</html>